{{!-- 需要具备筛选功能 --}}

<div class="container m-5">
    <div class="row mb-4">
        <div class="col">
            <a href="/furniture/new" class="btn btn-primary ">Create a new furniture</a>
        </div>
    </div>

    <div class="row">
        <div class="col col-4">
            <label for="furniture-name"></label>
            <input type="text" class="form-control" id="furniture-name" onkeyup="searchFromList('furniture-name',1)" placeholder="Search Furniture Name">
        </div>
        <div class="col col-4">
            <label for="category-name"></label>
            <input type="text" class="form-control" id="category-name" onkeyup="searchFromList('category-name',2)" placeholder="Search Furnitures Category">
        </div>
    </div>


    <div class="row">
        <div class="col col-4">
            <div class="rating-slider w-100">
                <label for="rsb" class="font-weight-bold">Likes above: <span id="rsd" class="ml-2"></span></label>
                <input value="1" min="1" max="100" step="1" type="range" id="rsb" onmouseup="fNum('rsb',5,(a,b)=>a>=b)" onkeyup="fNum('rsb',5, (a,b)=>a>=b)">
            </div>
        </div>
        <div class="col col-4">
            <div class="price-slider w-100">
                <label for="psb" class="font-weight-bold">Price below: <span id="psd" class="ml-2"></span></label>
                <input value="50" min="1" max="100" step="1" type="range" id="psb" onmouseup="fNum('psb',4,(a,b)=>a<=b)" onkeyup="fNum('psb',4,(a,b)=>a<=b)"> 
            </div>
        </div>
    </div>
</div>

<div class="container m-5">
    <table class="table table-hover">
    <thead class="thead-light">
        <tr>
            <th scope="col">Picture</th>
            <th scope="col">Name</th>
            <th scope="col">Category</th>
            <th scope="col">Location</th>
            <th scope="col">Price</th>
            <th scope="col">Likes</th>
            <th scope="col">Dislikes</th>
        </tr>
    </thead>
    <tbody>
        {{#each furniture}}
        {{!-- 需要绑定AJAX link上去 --}}
        <tr class="clickable-row" id="{{this._id}}" data-href="/furniture/{{this._id}}">
            <td><img src = '{{this.photos}}' alt={{this.name}} width="150" height="100"></td>
            <td>{{this.name}}</td>
            <td>{{this.category}}</td>
            <td>{{this.location}}</td>
            <td>{{this.price}}</td>
            <td>{{this.likes}}</td>
            <td>{{this.dislikes}}</td>
            
        </tr>
        {{/each}}
    </tbody>
</table>
</div>
<div class="container m-5" id="no-result" hidden="">
    <p><span class="fa fa-exclamation-circle">&#0160;</span>No results found</p>
</div>