{{!-- 需要具备筛选功能 --}}

<div class="container m-5">
    <div class="row mb-4">
        <div class="col">
            <a href="/rental/new" class="btn btn-primary ">Create a new rental</a>
        </div>
    </div>

    <div class="row">
        <div class="col col-4">
            <label for="myInput"></label>
            <input type="text" class="form-control" id="myInput" onkeyup="fName('myInput',0)" placeholder="Search Rental Location">
        </div>
           
    </div>

    <div class="row">
        <div class="col col-4">
            <div class="rating-slider w-100">
                <label for="rsb" class="font-weight-bold">Likes above: <span id="rsd" class="ml-2"></span></label>
                <input value="1" min="1" max="5" step="1" type="range" id="rsb" onmouseup="fNum('rsb',2)" onkeyup="fNum('rsb',2)">
            </div>
        </div>
        <div class="col col-4">
            <div class="price-slider w-100">
                <label for="psb" class="font-weight-bold">Price below: <span id="psd" class="ml-2"></span></label>
                <input value="5" min="1" max="5" step="1" type="range" id="psb" onmouseup="fNum('psb',3)" onkeyup="fNum('psb',3)"> 
            </div>
        </div>
    </div>
    



    
</div>

<div class="container m-5">
    <table class="table table-hover">
    <thead class="thead-light">
        <tr>
            <th scope="col">Location</th>
            <th scope="col">Price</th>
            <th scope="col">Bed</th>
            <th scope="col">Bath</th>
            <th scope="col">Likes</th>
            <th scope="col">Dislikes</th>
            <th scope="col">rentalID in DB link</th>
        </tr>
    </thead>
    <tbody>
        {{#each rental}}
      
        <tr class="clickable-row" id="{{this._id}}" data-href="/rental/{{this._id}}">
            
            <td>{{this.location}}</td>
            <td>{{this.price}}</td>
            <td>{{this.bedroom}}</td>
            <td>{{this.bathroom}}</td>
            <td>{{this.likes}}</td>
            <td>{{this.dislikes}}</td>
            <td><a href= "/rental/{{this._id}}">{{this._id}}</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>
</div>
<div class="container m-5" id="no-result" hidden="">
    <p><span class="fa fa-exclamation-circle">&#0160;</span>No results found</p>
</div>