<div class="container mt-3 col-5">
	<h1>Create a New Rental</h1>
	<form method="POST" action="/rental/new" id="rental-form" onsubmit="submitButton.disabled = true; return true;">

		<div class="form-group">
			<label for="location" class="input-label">Location</label>
			<input type="text" class="form-control" id="location-input" name="location" placeholder="Enter rental address" value="{{reqInput.location}}"/>
			<div class="invalid-feedback">
				Please provide a valid location
			</div>
		</div>

		<div class="form-group">
			<label for="label" class="input-label">Labels</label>
			<input type = "text" list="labels" name="labels" id="label-input" value="{{reqInput.labels}}">
			
			<datalist id="labels">
			<option value="House">
  			<option value="Apartment">
			<option value="Condo">
  			
			</datalist>
			<div class="invalid-feedback">
				Please provide a valid rental label
			</div>

		</div>

		<div class="form-group">
			<label for="space" class="input-label">Space</label>
			<input type="number" class="form-control" id="space-input" name="space" placeholder="Enter rental space" value="{{reqInput.space}}"/>
			<div class="invalid-feedback">
				Please provide a valid space
			</div>
		</div>

		<div class="form-group">
			<label for="price" class="input-label">Price</label>
			<input type="number" class="form-control" id="price-input" name="price" placeholder="Enter rental price" value="{{reqInput.price}}"/>
			<div class="invalid-feedback">
				Please provide a valid price
			</div>
		</div>

        <div class="form-group">
			<label for="bed" class="input-label">Bedrooms</label>
			<input type="number" class="form-control" id="bed-input" name="bedroom" placeholder="Enter rental bedrooms" value="{{reqInput.bedroom}}"/>
			<div class="invalid-feedback">
				Please provide a valid bed
			</div>
		</div>

        <div class="form-group">
			<label for="bath" class="input-label">Bathrooms</label>
			<input type="number" class="form-control" id="bath-input" name="bathroom" placeholder="Enter rental bathrooms" value="{{reqInput.bathroom}}"/>
			<div class="invalid-feedback">
				Please provide a valid bath
			</div>
		</div>

		<div class="form-group" id="rental-input-div">
			
		</div>

		<div class="form-group">
			<label for="photo_link" class="input-label">Link photo</label>
			<input type="text" class="form-control" id="photo-input" name="photo_link" placeholder="Enter rental photo link" value="{{reqInput.photo_link}}"/>
			<div class="invalid-feedback">
				Please provide a valid external photo link
			</div>
		</div>

		<div class="form-group">
			<label for="description" class="input-label">Description </label>
			<input type="text" class="form-control" id="description-input" name="description" placeholder="Enter description" value="{{reqInput.description}}"/>
			<div class="invalid-feedback">
				Please provide a valid description
			</div>
		</div>

		<div class="form-group">
			<label for="utility" class="input-label">Utilities </label>
			<input type="text" class="form-control" id="utility-input" name="utility" placeholder="Enter utility" value="{{reqInput.utility}}"/>
			<div class="invalid-feedback">
				Please provide a valid utility
			</div>
		</div>
		

		<div class="form-group">
			<label for="contact" class="input-label">Contact</label>
			<input type="text" class="form-control" id="contact-input" name="contact" placeholder="Enter contact" value="{{reqInput.contact}}"/>
			<div class="invalid-feedback">
				Please provide a valid contact
			</div>
		</div>

		<div class="form-group">
			<label for="longitute" class="input-label">Longitute</label>
			<input type="number" class="form-control" id="longitute-input" name="longitute" placeholder="Enter longitute" value="{{reqInput.longitute}}"/>
			<div class="invalid-feedback">
				Please provide a valid longitute
			</div>
		</div>

		<div class="form-group">
			<label for="latitute" class="input-label">Latitute</label>
			<input type="number" class="form-control" id="latitute-input" name="latitute" placeholder="Enter latitute" value="{{reqInput.latitute}}"/>
			<div class="invalid-feedback">
				Please provide a valid latitute
			</div>
		</div>

		<button class="btn btn-primary" type="submit" name="submitButton" id="submitButton">Submit!</button>

		{{#if hasErrors}}
			<ul class="error-list">
				{{#each errors}}
					<li>
						{{this}}
					</li>
				{{/each}}
			</ul>
		{{/if}}
	</form>
</div>