{{! You can add features to keep what the user enters }}
<div class="container mt-3 col-6">
	<h1 class="h3 mb-3 fw-normal">Update my Infomation</h1>
	<form method="POST" action="/private/update" id="signup-form" onsubmit="submitButton.disabled = true; return true;">
		<div class="form-row">
			<div class="form-group col-6">
				<label for="firstName" class="sr-only"></label>
				<input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name" value="{{reqInput.firstName}}"  />
				<div class="invalid-feedback">
					First name cannot be empty
				</div>
			</div>
			<div class="form-group col-6">
				<label for="lastName" class="sr-only"></label>
				<input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name" value="{{reqInput.lastName}}" />
				<div class="invalid-feedback">
					Last name cannot be empy
				</div>
			</div>
		</div>

		<div class="form-group">
			<label for="userName" class="sr-only"></label>
			<input type="text" class="form-control" id="userName" name="userName" placeholder="{{reqInput.userName}}" value="{{reqInput.userName}}"  disabled />
			<div class="invalid-feedback">
				Username cannot be empty
			</div>
		</div>

		<div class="form-group">
			<label for="password" class="sr-only"></label>
			<input class="form-control" id="password" name="password" type="password" placeholder="Password" value="{{reqInput.password}}" />
			<div class="invalid-feedback">
				Password cannot be empty
			</div>
		</div>

		<div class="form-group">
			<label for="password" class="sr-only"></label>
			<input class="form-control" id="passwordRe" name="passwordRe" type="password" placeholder="Reinput Password" value="{{reqInput.passwordRe}}" />
			<div class="invalid-feedback" id="password_compare">
				Password cannot be empty
			</div>
		</div>


		<div class="form-group">
			<label for="email" class="sr-only"></label>
			<input type="email" class="form-control" id="email" name="email" placeholder="{{reqInput.email}}" value="{{reqInput.email}}"  disabled />
			<div class="invalid-feedback">
				Email address cannot be empty
			</div>
		</div>

		<div class="form-group">
			<label for="age" class="sr-only"></label>
			<input type="number" class="form-control" id="age" name="age" placeholder="Age" value="{{reqInput.age}}" />
			<div class="invalid-feedback">
				Age cannot be empty
			</div>
		</div>

		<div class="form-group">
			<label for="selfSummary" class="sr-only"></label>
			<input
				type="text"
				class="form-control"
				id="selfSummary"
				name="selfSummary"
				placeholder="selfSummary could be empty, but not recommend"
				value="{{reqInput.selfSummary}}"
			/>
			<div class="invalid-feedback">
				selfSummary could be empty, but not recommend
			</div>
		</div>

		<button class="btn btn-primary" type="submit" name="submitButton" id="submitButton">Update</button>

		{{#if hasErrors}}
			<ul class="error-list">
				{{#each errors}}
					<li><div class="error font-italic">{{this}}</div></li>
				{{/each}}
			</ul>
		{{/if}}
	</form>
</div>